.main-container{
    color:#F2CB06;
    overflow: hidden;
    border: 1px solid #0000CD ;
    text-align: center;
}

.container h3{
    margin: 20px;
    font-size: 30px;
    text-shadow: 0.2em 0.5em 0.1em #600,-0.3em 0.1em 0.1em #060,0.4em -0.3em 0.1em #006
}
.shadow{
    height: 100px;
    position: relative;
    color:rgb(66, 66, 184);
    border: 2px solid #0000CD ;
}
.shadow p{
    margin-top: 40px;
}

@media (max-width: 480px) {
    .container h3{
      font-size: 20px;
    }
  }