
 
  .main {
  border: 2px solid #0000CD ;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color:#F2CB06;
}
.info{
  border: 2px solid #0000CD ;
  margin-top: 10px;
  width: 50%;
  margin-bottom: 50px;
}
.first-li li{
  border-bottom: 2px solid #0000CD ;
}
ul{
  margin-left: -40px;
}
ul li {
  list-style: none;
  margin-top: 10px;
  padding-bottom: 10px;
}
button{
  background-color: #0000CD;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin-top: 15px;
  color:#ffff;
  font-size: 15px;
}
 
@media (max-width: 480px) {
  .main{
    font-size: 20px;
  }
 
  .info{
    margin-top: 10px;
    width: 80%;

  }
}
@media (max-width: 800px){
  ul{
    margin-left: -40px;
  }
}





  